################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSTerm
/bin/Debug
/obj/Debug
